* {  max-width: 100%;
}

#navbar {
  position: center;
  text-align: center;
}

nav {
  font-family: 'Josefin Sans', sans-serif;
  position: center;
  display: inline-block;
  line-height: .5em;
  /*border-top: 2px solid #283842;*/
  /*border-bottom: 2px solid #283842;*/
  text-align: center;
  padding: 5px;
  max-width: 100%;
  min-width: 25%;

}

hr {
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

nav ul {
  margin-top: px;
  list-style: none;
  padding: 0;
  position: center;
}

nav li {
  display: inline;
  position: center;
  text-align: center;
}

nav a {
  position: center;
  text-align: center;
  display: inline;
  font-weight: 800;
  padding: 15px 10px;
  text-decoration: none;
  line-height: .5em;
  height: 10px;
  color: #0a2d40;
}

nav ul li a {
  position: center;
  text-align: center;
}

/* HEADING STYLING  */
header {
  margin: 10px 10px 30px 10px;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: left;
  margin: 0;
}

header a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #0a2d40;
}

a:hover {
  color: #c4ffc8;
  background-color: lightgrey;
}

h1 {
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1em;
  text-decoration: none;

}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  font-size: 1em;
  margin: 7px 10px 0;
  font-weight: normal;
  text-decoration: none;
  color: #0a2d40;
}


/*************
PORTFLIO/HOME PAGE
*************/

#body {
  margin-top: 30px;
  position: center;
  border: 2px solid darkgrey;
  padding: 10px;
  max-width: 100%;
}

#cardGrid {
  padding: 10px;
  margin: auto;
  align-content: auto;
  width: 95%;
  background: #e5e5e5;
  background: repeating-linear-gradient(
    45deg,
  lightgrey,
  lightgrey 2.5px,
  white 2.5px,
  white 5px
    );
}

#projectCard0,
#projectCard1,
#projectCard2,
#projectCard3,
#projectCard4,
#projectCard5,
#projectCard6,
#projectCard7,
#projectCard8,
#projectCard9,
#projectCard10,
#projectCard11 {
  border: 3px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  padding: 5px;
  height: 10em;
  width: 15%;
  background-color: #6070ea;
}

#productCard0 img,
#productCard1 img,
#productCard2 img,
#productCard3 img,
#productCard4 img,
#productCard5 img,
#productCard6 img,
#productCard7 img,
#productCard8 img,
#productCard9 img,
#productCard10 img,
#productCard11 img {
  max-width: 110px;
}

/**********************
ABOUT PAGE
**********************/

#about-body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 23px;
  margin: 2em;
  padding: 2em;
  border: 2px solid lightgrey;
  text-align: left;
}

/**********************
CONTACT PAGE
**********************/

label {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #e5e5e5;
}

.contact-info {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #e5e5e5;
}

#contact-card a,
#contact-card h1 {
text-align: center;
}


#contact-card {
  margin-top: 10%;
  margin-left: 30%;
  display: inline-block;
  border: 3px solid black;
  border-radius: 5px;
  width: 40%;
  height: 20em;
  background-color: #e5e5e5;
}

#contact-card h1 {
  background-color: #e5e5e5;
}


#contact-card img {
  display: block;
  background-color: #e5e5e5;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

/**********************
FOOTER
**********************/


footer {
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  border: 3px solid grey;
  border-radius: 5px;
  border-width: 50%;
  font-size: 1em;
  text-align: center;
  padding-top: 30px;
  color: #0e2f44;
  margin: 30px auto 15px auto;
  width: 100%;
  text-align: center;
  position: center;
  background-color: #e5e5e5;
}

.social-icon {
  position: center;
  width: 40px;
  height: 40px;
  background: #e5e5e5;
  margin-left: 10px;
}

footer a {
  display: inline;
  padding: 10px;
  background-color: #e5e5e5;
  position: center;
}

footer p {
  background-color: #e5e5e5;
  position: center;
}





